* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

    -webkit-font-smoothing: antialiased !important;
}

:root {
    /* colors  */
    --bg-light: #FAFAFA;
    --bg-accent: #cbcad4;
    --bg-dark: rgba(0, 13, 32, 1);
    --accent-light-c: rgba(209, 217, 223, 0.75);


    --info: rgba(255, 92, 0, 1);


    /* padding and margins  */
    --padd-sm: .25rem;
    --padd-md: .75rem;
    --padd-lg: 1.2rem;
    --padd-xl: 2.2rem;
    --padd-xxl: 5.75rem;
    --rounded: 0.5rem;
    /* 
  --accent-light-a: rgba(240, 240, 240, 1);

  --accent-light-c: rgba(209, 217, 223, 0.75);
 

  --accent-light-b: #A0B2C2;  */

}

/* ===== reset css  ========  */
a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
    font-size: 1em;
}

body {
    min-height: 100dvh;

    scroll-behavior: smooth;

}

/* nav styles  */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    padding: var(--padd-xl);
    color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-light);
    z-index: 3;
}

nav .user {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .4px;


}

.nav .toc-link {
    font-size: 30px;
    color: var(--accent-light-c);

}


.nav .nav-side {
    z-index: 3;
    padding-top: var(--padd-lg);
    height: 200px;
    position: absolute;
    color: var(--bg-dark);
    top: 107px;
    right: 0%;
    padding: var(--padd-lg);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: var(--padd-md);
    background: var(--accent-light-c);
    backdrop-filter: blur(5px);


}

main {
    margin-top: var(--padd-xxl);



}

#about {
    background: #4C5364;
    padding: var(--padd-lg) 0;
}
#resume {
    background: var(--bg-accent);
    padding: var(--padd-lg) 0;

}
#cert {
    background-color: var(--bg-dark);
    padding: var(--padd-lg) 0;
    color: lavender;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.component {
    /* border: .5px dashed lavender; */
    border-radius: var(--rounded);
    padding: var(--padd-lg);
    width: 60%;
}
.component>h1,
.component>p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .2px;
    color: var(--bg-accent);

}

.code {

    margin-top: var(--padd-xxl);
    background: var(--bg-dark);
    padding: var(--padd-md) var(--padd-lg);
    border-radius: var(--rounded);
    color: var(--accent-light-c);

}

.console {
    text-align: start;
    font-family: monospace;
    /* color: #abb2bf; */
    color: var(--accent-light-c);
    text-transform: lowercase;
    white-space: pre-line;
}

.answer , .answer>a {
    color: #56b6c2;
    font-family: monospace;

}

/* resume  css stylings */
.component>h1 {
    color: var(--bg-dark);

}
.education {
    margin: var(--padd-lg) 0;
}
.tagline {
    padding: var(--padd-lg) 0;
text-transform: uppercase;
font-size: 14px;
font-weight: 400;
letter-spacing: .2px;
border-bottom: 1px solid  #abb2bf; 

}
.education .school {
    padding: var(--padd-md) 0;
    position: relative;
}
.education .school-logo {
    position: absolute;
    top: 5%;
    left: -15%;
    width: 70px;
    height: 70px;
    padding: 1px;
    margin: 1px;
    background: #abb2bf23;
    border-radius: 50%;
}


.education .school-logo img {
    padding: 1px;
    margin: 1px;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    width: 70px;
    height: 70px;
}

.details .top {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: var(--padd-sm);
    padding: var(--padd-lg) 0;
} 
.details .top>div {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}
.details .top h4 {
    font-size: 18px;
    font-weight: 600;
    color: #525c74;
    line-height: 24px;
}
.details .top span {
    color: var(--bg-dark);
    font-size: 14px;
    font-weight: 400;

}
.details  .content p,
    .details  .content ul{
    font-size: 16px;
    color: #010c24cb;
}

.details ul {
    margin: var(--padd-lg);
}
.details ul li {
    padding-left: var(--padd-lg);
    line-height: 26px;
    margin-bottom: var(--padd-sm);

list-style-type: none;
}
.details ul li::marker {
    content: "🚀";
}
.skills {
    display: flex;
    align-items: center;
    padding: var(--padd-lg);
    gap: var(--padd-md);
}
.skills .skill {
    font-size: 14px;
    white-space: nowrap;
    color: var(--bg-dark);
    border: 1px solid var(--bg-dark);
    padding: var(--padd-md) ;
border-radius: var(--rounded);
}


/* footer css stylings  */
footer {
    width: 100%;
  
    padding: var(--padd-xl) var(--padd-lg);
    color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-light);
    font-size: 14px;
    font-weight: 400;

}
footer a {
    text-decoration: underline;
    padding: var(--padd-sm);
}